@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body header {
  position: relative;
}
body header img {
  width: 13%;
  height: 13%;
  margin-top: 10vh;
}
body header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10vh;
  background-color: white;
  overflow: hidden;
  padding: 0;
}
body header nav .collapse3 {
  display: flex !important;
}
body header nav .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 8;
}
body header nav .collapse .nav .product_drop2 {
  z-index: 5;
  position: fixed;
  background-color: black;
  padding-left: 8px;
  padding-top: 10px;
  display: flex !important;
  text-align: left;
  margin-top: 5%;
  margin-left: -17.5%;
  width: 13.5%;
  height: 220px;
  flex-direction: column;
}
body header nav .collapse .nav .product_drop2 .product_drop2 a {
  text-decoration: none;
}
body header nav .collapse .nav .product_drop2 .product_drop2 a:hover {
  color: white !important;
}
body header nav .collapse .nav #prod {
  padding-bottom: 31px;
  margin: 0;
}
body header nav .collapse .nav .nav-item .nav-link {
  list-style: none;
  margin-left: 4vh;
  margin-right: 4vh;
  text-transform: uppercase;
  color: #969696;
  font-size: 14px;
  text-decoration: none;
  display: block;
  float: left;
}
body header nav .collapse .nav .nav-item a:hover {
  color: #2b2b2b;
  transition: color, 1s;
}
body header nav .btnnav0 .btnav1 {
  background-color: white;
  height: 20px;
  width: 20px;
  border: 1px solid black;
}
body header nav .btnnav0 .btnav1:focus {
  outline: none;
}
body header nav .btnnav0 .btnav2 {
  background-color: black;
  height: 20px;
  width: 20px;
  border: 0;
  align-self: center;
  margin-left: 5px;
  margin-right: 10px;
}
body header nav .btnnav0 .btnav2:focus {
  outline: none;
}
body header nav .btnnav0 .btnav3 {
  background-color: #000436;
  color: white;
  border: 0;
  border: none;
  outline: none;
}
body header nav .btnnav0 .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}
body header nav .btnnav0 .modal .modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
body header nav .btnnav0 .modal .modal-content .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
body header nav .btnnav0 .modal .modal-content .close:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
body header nav .btnnav0 .modal .modal-content .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
body header nav .btnnav0 .modal .modal-content .modal-content h2 {
  text-align: center;
}
body .sect1 {
  background-color: #F3F3F3;
}
body .sect1 .container {
  display: flex;
}
body .sect1 .container .row {
  justify-content: center;
  align-items: center;
}
body .sect1 .container .row .a {
  justify-content: center;
  align-items: center;
}
body .sect1 .container .row .a .btnsect1 {
  background-color: #bd584e;
  border-radius: 50px;
  border: none;
  font-size: 100%;
}
body .sect1 .container .row .a .btnsect1:hover {
  background-color: black;
}
body .sect1 .container .row .a .btnsect1::after {
  content: "";
}
body .sect1 .container .row .a .btnsect1:hover::after {
  content: ">";
  padding-left: 10px;
  transition: ease 0.5s;
}
body .sect1 .container .row .a .btnsect1:focus {
  outline: none;
}
body .sect2 .divsect2 {
  display: flex;
  justify-content: center;
}
body .sect2 .divsect2 .img1 {
  background-image: url("../js_site_web/images/services/service-1.jpg");
  width: 30%;
  height: 205px;
  background-position: center;
  background-size: cover;
}
body .sect2 .divsect2 .img2 {
  background-image: url("../js_site_web/images/services/service-2.jpg");
  width: 30%;
  height: 205px;
  background-position: center;
  background-size: cover;
}
body .sect2 .divsect2 .img3 {
  background-image: url("../js_site_web/images/services/slider-3.jpg");
  width: 30%;
  height: 205px;
  background-position: center;
  background-size: cover;
}
body .sect2 .divsect2 .a {
  text-decoration: none;
  justify-content: center;
  align-items: center;
}
body .sect3 .container .row {
  display: flex;
  justify-content: center;
}
body .sect3 .container .row .col-4 {
  align-items: center;
}
body .sect3 .container .row .col-4 .parent {
  overflow: hidden;
}
body .sect3 .container .row .col-4 .parent .img-fluid {
  transition: ease 1s;
}
body .sect3 .container .row .col-4 .parent .img-fluid:hover {
  transform: scale(1.2);
}
body .sect3 .container .row .col-4 .parent .cacher:hover {
  opacity: 0.7;
}
body .sect3 .container .row .col-4 .parent .cacher a:hover {
  padding: 15px 0px;
}
body .sect3 .container .row .col-4 .parent .cacher a {
  transition: ease 0.5s;
  padding: 19px 10px 0px;
  color: white;
}
body .sect3 .container .row .col-4 .parent #rose {
  background-color: #bd4d4d;
}
body .sect3 .container .row .col-4 .parent .cacher {
  position: absolute;
  opacity: 0;
  z-index: 3;
  transition: bottom ease 1s;
  bottom: 98px;
}
body .sect4 .divbg {
  background-image: url("../js_site_web/images/cta-bg.jpg");
  height: 700px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
body .sect4 .divbg .btnsect4 {
  border-radius: 30px;
  border: none;
}
body .sect5 {
  font-size: 10px;
}
body .sect5 .container .carousel {
  position: relative;
  overflow: hidden;
}
body .sect5 .container .carousel .carousel__container {
  content: "";
  display: table;
  clear: both;
}
body .sect5 .container .carousel .carousel__container .carousel__item {
  display: inline-block;
}
body .sect6 button {
  border: none;
  border-radius: 5%;
}

footer .info {
  background-color: #302e2e;
}
footer .info a {
  text-decoration: none;
  color: #b6b4b4;
  border-radius: none;
}
footer .info p:hover {
  color: white;
}
footer .copy {
  background-color: #1b1a1a;
}

footer .pinfo {
  color: #b6b4b4;
}

footer {
  font-size: 15px;
}

footer a {
  border-color: #b6b4b4;
}

/*# sourceMappingURL=style.css.map */
