@import "../node_modules/bootstrap/dist/css/bootstrap.min.css"
body
    header
        .titre
            display: flex
            justify-content: center
        .div
            flex-wrap: nowrap
            display: flex
            justify-content: center
            margin: 5% 0
            .navbar
                list-style: none

    .sect1
        background-color: #F3F3F3
        .container
            display: flex
            .row
                justify-content: center
                align-items: center
                .col
                    justify-content: center
                    align-items: center
                    .btnsect1
                        border-radius: 5%

    .sect2

    .sect3
        .container
            .row
                display: flex
                justify-content: center
                
                .col-4
                    align-items: center


    .sect4
        background-image: url('js_site_web/images/cta-bg.jpg')
        .btnsect4
            border-radius: 50px
