@import "../node_modules/bootstrap/dist/css/bootstrap.min.css"
body
    header
        .titre
            display: flex
            justify-content: center
        .div
            flex-wrap: nowrap
            display: flex
            justify-content: center
            margin: 5% 0
            .navbar
                list-style: none
                text-decoration: none
            .carre
                width: 5%
                height: 5%
                

    .sect1
        background-color: #F3F3F3
        .container
            display: flex
            .row
                justify-content: center
                align-items: center
                .a
                    justify-content: center
                    align-items: center
                    .btnsect1
                        border-radius: 50px
                        border: none

    .sect2
        .divsect2
            display: flex
            justify-content: center
        
            .img1
                background-image: url("../js_site_web/images/services/service-1.jpg")
                width: 30%
                height: 205px
                background-position: center
                background-size: cover
    
                
            .img2
                background-image: url("../js_site_web/images/services/service-2.jpg")
                width: 30%
                height: 205px
                background-position: center
                background-size: cover
            .img3

                background-image: url("../js_site_web/images/services/slider-3.jpg")
                width: 30%
                height: 205px
                background-position: center
                background-size: cover
            .a
                text-decoration: none
                justify-content: center
                align-items: center

    .sect3
        .container
            .row
                display: flex
                justify-content: center

                .col-4
                    align-items: center

    .sect4
        .container
            background-image: url('../js_site_web/images/cta-bg.jpg')
            width: 100%
            height: 50vh
            background-position: center
            background-size: cover
            .btnsect4
                border-radius: 30px
                border: none
    .sect5
        .row

    .sect6
        button
            border: none
            border-radius: 5%

footer
    .info
        background-color: rgb(48, 46, 46)
    .copy
        background-color: rgb(27, 26, 26)
footer .pinfo
    color: #b6b4b4