@import "../node_modules/bootstrap/dist/css/bootstrap.min.css"
body
    margin: 0
    font-family: 'Poppins', sans-serif
    header
        // position: relative
        img 
            width: 13%
            height: 13%
            margin-top: 10vh
        nav
            display: flex
            flex-direction: row
            justify-content: center
            margin-top: 10vh
            background-color: white
            overflow: hidden
            padding: 0

        nav.sticky
            position: fixed
            top: 0
            width: 100%
            z-index: 8
            margin-top: 0

            
        .collapse3
            display: flex !important

        
            
                
  
    
        .collapse
                
            .nav
                    
                .product_drop2
                    z-index: 5
                    position: fixed
                    background-color: black
                    padding-left: 8px
                    padding-top: 10px
                    display: flex !important
                    text-align: left
                    margin-top: 5%
                    margin-left: -17.5%
                    width: 13.5%
                    height:220px
                    flex-direction: column
                    .product_drop2 a
                        text-decoration: none
                    .product_drop2 a:hover
                        color: white !important
                #prod
                    padding-bottom: 31px
                    margin: 0

                .nav-item
                
                    .nav-link 
                        list-style: none
                        margin-left: 4vh
                        margin-right: 4vh
                        text-transform: uppercase
                        color: rgb(150, 150, 150)
                        font-size: 14px
                        text-decoration: none
                        display: block
                        float: left


                    a:hover 
                        color: rgb(43, 43, 43)
                        transition: color, 1s
        .btnnav0
            .btnav1
                background-color: white
                height: 20px
                width: 20px
                border: 1px solid black
            .btnav1:focus 
                outline: none
            .btnav2 
                background-color: black
                height: 22px
                width:22px
                border: 1px solid white
                align-self: center
                margin-left: 5px
                margin-right: 10px
            .btnav2:focus
                outline: none
            .btnav3
                background-color: rgb(44, 44, 44)
                color: white
                border-radius: 5px
                border: 0
                padding: 3px 5px
                
            .btnav3:focus
                outline: none
                
            .modal
                display: none 
                position: fixed                
                z-index: 1 
                left: 0
                top: 0
                width: 100%
                height: 100% 
                overflow: auto 
                background-color: rgb(0,0,0)
                background-color: rgba(0,0,0,0.4)
                .modal-content
                    background-color: #fefefe
                    margin: 15% auto
                    padding: 20px
                    border: 1px solid #888
                    width: 80%
                    .close
                        color: #aaa
                        float: right
                        font-size: 28px
                        font-weight: bold
                    .close:hover
                        color: black
                        text-decoration: none
                        cursor: pointer
                    .close:focus 
                        color: black
                        text-decoration: none
                        cursor: pointer
                    .modal-content h2 
                        text-align: center

















    .sect1
        background-color: #F3F3F3
        .container
            display: flex
            .row
                justify-content: center
                align-items: center
                .a
                    justify-content: center
                    align-items: center
                    .btnsect1
                        background-color: rgb(189, 88, 78)
                        border-radius: 50px
                        border: none
                        font-size: 100%
                    .btnsect1:hover
                        background-color: black

                    .btnsect1::after
                        content: ""
                    .btnsect1:hover::after
                        content: ">"
                        padding-left: 10px
                        transition: ease .5s
                    .btnsect1:focus
                        outline: none

    .sect2
        .divsect2
            display: flex
            justify-content: center

            .img1
                background-image: url("../js_site_web/images/services/service-1.jpg")
                width: 30%
                height: 205px
                background-position: center
                background-size: cover

            .img2
                background-image: url("../js_site_web/images/services/service-2.jpg")
                width: 30%
                height: 205px
                background-position: center
                background-size: cover
            .img3

                background-image: url("../js_site_web/images/services/slider-3.jpg")
                width: 30%
                height: 205px
                background-position: center
                background-size: cover
            .a
                text-decoration: none
                justify-content: center
                align-items: center

    .sect3
        .container
            .row
                display: flex
                justify-content: center
                .col-4
                    align-items: center
                    
                    .parent
                        overflow: hidden
                        
                        .img-fluid
                            
                            // width: 162.25px
                            // height: 127.77px
                            transition: ease 1s
                            &:hover
                                transform: scale(1.2)
                        .cacher:hover
                            opacity: .9

                        .cacher a:hover
                            padding: 15px 0px

                        .cacher a 
                            
                            transition: ease 0.5s
                            padding: 19px 10px 0px
                            color: white
                            

                        #rose
                            background-color: rgb(189, 77, 77)
                            
                        #black
                            background-color: #0c0b0b
                        .col-6
                            text-decoration: none
                            

                        .cacher
                            position: absolute
                            opacity: 0
                            z-index: 3
                            transition: bottom ease 1s
                            bottom: 98px
                        

                    
    
    

    .sect4

        .divbg

            background-image: url("../js_site_web/images/cta-bg.jpg")
            height: 700px
            background-size: cover
            background-position: center
            background-attachment: fixed
            .btnsect4
                border-radius: 30px
                border: none
            .btnsect4:focus
                outline: none
                    

    .sect5
        font-size: 10px
        #carousel1
            overflow: hidden
.item
    position: relative
    margin: 40px 10px
    background-color: #fff
    transition: transform 0.3s
    transform: translate3d(0, -1px, 0)
.item:hover
    transform: translate3d(0, -10px, 0)
.item
    img
        display: block
        width: 20vw
        height: 25vh !important
.item__body
    padding: 25px
.items
    position: relative
.carousel
    position: relative
.carousel__container::after
    content: ""
    clear: both
    display: table
.carousel__item
    display: inline-block
.d-flex.mx-4 > div
    min-width: 10vw
.carousel__pagination
    position: absolute
    bottom: 0
    left: 0
    right: 0
    text-align: center
.carousel__pagination__button
    background-color: white
    border: 1px grey solid
    width: 10px
    height: 10px
    border-radius: 50%
    display: inline-block
    margin: 0 3px
    transition: transform 0.3s
    cursor: pointer
.carousel__pagination__button:hover
    background-color: rgb(82, 82, 82)
    border: 1px white solid
.carousel__pagination__button--active, .carousel__pagination__button::hover
    transform: scale(1.4)
        
            
            // .carousel
            //     position: relative
            //     overflow: hidden
                    
            //     .carousel__container
            //         content: ""
            //         display: table
            //         clear: both
            //         .carousel__item
            //             display: inline-block


    .sect6
        button
            border: none
            border-radius: 5%

footer
    .info
        background-color: rgb(48, 46, 46)
    .info a
        text-decoration: none
        color: #b6b4b4
        border-radius: none
    .info p
        &:hover
            color: white

    .copy
        background-color: rgb(27, 26, 26)
footer .pinfo
    color: #b6b4b4
footer
    font-size: 15px
footer a
    border-color: #b6b4b4

//     // pour le media query
//     //     a 1000px
//     //         mon header , ce met dans un background-color: blanc , fixed, avec un burger sur le coté
